body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
background-color:bisque;
}
button{
    width: 50px;
}
table, th, td{
    border: 1px;
}
#CLICK{
    background-color: aqua;
    float: right;
}
#MYNAME{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#button{
    float: none;
}
